:root {
  --color-bg-gradient-dark: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  --color-bg-gradient-light: linear-gradient(to right, #ffffff 0%,  #d4d4d4 100%);
  --p-font-size: 15px;
  --color-txt-dark: #333;
  --color-txt-true: #777;
  --color-txt-light: #fff;
  --h-font-family: "Raleway", sans-serif;
  --title-padding: 100px 0;
}