#home, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
#home h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
}
#home h2 {
	text-transform: uppercase;
	margin: 0 0 20px 0;
	font-weight: 800;
	font-size: 36px;
	color: #333;
}
#home h3 {
	font-size: 20px;
	font-weight: 600;
	color: #333;
}
#home h4 {
	font-size: 18px;
	color: #333;
	font-weight: 600;
}
#home h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
#home p {
	font-size: 15px;
}

/* Navigation */
#menu {
	padding: 15px;
	transition: all 0.8s;
}
#menu.navbar {
	border-color: rgba(231, 231, 231, 0);
	box-shadow: 0 0 10px rgba(0,0,0,0.15)
}
#menu span.navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}
#menu.navbar .nav-item > a {
    position: relative;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	color: #555;
	font-size: 15px;
	font-weight: 400;
	padding: 8px 2px;
	border-radius: 0;
	margin: 9px 20px 0 20px;
	cursor: pointer;
}
#menu.navbar .nav-item > a:after {
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 0;
	height: 2px;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	content: "";
	transition: width 0.2s;
}
#menu.navbar a:hover{
	text-decoration: none
}
#menu.navbar .nav-item > a:hover:after,
#menu.navbar .nav-item a.active:after {
	width: 100%;
}
#menu.navbar .navbar-toggle {
	border-radius: 0;
}
#menu.navbar .navbar-toggle:hover,
#menu.navbar .navbar-toggle:focus {
	background-color: #fff;
	border-color: #608dfd;
}
#menu.navbar .navbar-toggle:hover>.navbar-toggler-icon {
	background-color: #608dfd;
}
/* Navigation - END */

/* Intro Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url(../img/intro-lab.jpg) center center no-repeat;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: rgba(0,0,0,0.2);
}
.intro h1 {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 72px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 10px;
}
.intro p {
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	line-height: 30px;
	margin: 0 auto;
	margin-bottom: 60px;
}
.intro .intro-text {
	padding-top: 150px;
	padding-bottom: 150px;
	text-align: center;
}
/* Intro Section - END */

/* Features Section */
#features {
	padding: 100px 0;
	background: #f6f6f6;
	text-align: center;
}
#features svg {
	font-size: 38px;
	margin-bottom: 20px;
	transition: all 0.5s;
	color: #fff;
	width: 100px;
	height: 100px;
	padding: 30px 0;
	border-radius: 50%;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}
/* Features Section - END */

/* About Section */
#about {
	padding: 100px 0;
}
#about h3 {
	font-size: 22px;
	margin: 0 0 20px 0;
}
#about h2 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
#about h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	height: 4px;
	width: 60px;
	bottom: 0;
	left: 0;
}
#about .about-text ul {
	padding-left: 10px;
}
#about .about-text li {
	margin-bottom: 6px;
	margin-left: 6px;
	list-style: none;
	padding: 0;
}
#about .about-text svg {
	color: #5ca9fb;
	font-size: 11px;
	font-weight: 600;
}
#about img {
	width: 100%;
	margin-top: 10px;
	background: #fff;
	border-right: 0;
	box-shadow: 0 0 50px rgba(0,0,0,0.06);
}
#about p {
	line-height: 24px;
	margin: 30px 0;
}
/* About Section - END */

/* Services Section */
#services {
	padding: 100px 0;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	color: #fff;
	text-align: center;
}
#services .service-desc {
	margin: 10px 10px 20px;
}
#services h2 {
	color: #fff;
}
#services .section-title h2::after {
	position: absolute;
	content: "";
	background: rgba(255,255,255,.3);
	height: 4px;
	width: 60px;
	bottom: 0;
	margin-left: -30px;
	left: 50%;
}
#services svg {
	font-size: 42px;
	width: 120px;
	height: 120px;
	padding: 40px 0;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	border-radius: 50%;
	color: #fff;
	box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}
#services h3 {
	font-weight: 500;
	padding: 5px 0;
	color: #fff;
}
#services p {
	color: rgba(255,255,255,.75);
}
#services .service-desc {
	margin-bottom: 40px;
}
/* Services Section - END */

/* Gallery Section */
#gallery {
	padding: 100px 0;
	text-align: center;
}
#gallery img {
	height: 100%;
	width: 100%;
}
#gallery .gallery-item {
	margin: 1px -15px 0 -14px;
	padding: 0;
}
#gallery .gallery-item .hover-bg {
	overflow: hidden;
	position: relative;
	margin: 0;
}
#gallery .hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background: linear-gradient(to right, rgba(99,114,255,0.8) 0%, rgba(92,169,251,0.8) 100%);
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
#gallery .hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
}
#gallery .hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
#gallery .hover-bg:hover .hover-text {
	opacity: 1;
}
/* Gallery Section - END */

/* Testimonials Section */
#testimonials {
	padding: 100px 0;
	background: #f6f6f6;
}
.testimonial {
	position: relative;
	padding: 20px;
}
.testimonial-image {
	float: left;
	margin-right: 15px;
}
.testimonial-image, .testimonial-image img {
	display: block;
	width: 64px;
	height: 64px;
	border-radius: 50%;
}
.testimonial-content {
	position: relative;
	overflow: hidden;
}
.testimonial-content p {
	margin-bottom: 0;
	font-size: 14px;
	font-style: italic;
}
.testimonial-meta {
	margin-top: 10px;
	font-size: 15px;
	font-weight: 600;
	color: #666;
}
/* Testimonials Section - END */

/* Team Section */
#team {
	padding: 100px 0;
	text-align: center;
}
#team h4 {
	margin: 5px 0;
}
#team .team-img {
	width: 240px;
}
#team .thumbnail {
	background: transparent;
	border: 0;
}
#team .thumbnail .caption {
	padding: 10px 0 0 0;
	color: #888;
}
/* Team Section - END */

/* Generics */
.section-title {
	margin-bottom: 70px;
}
.section-title h2 {
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	text-align: center;
}
.section-title h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	height: 4px;
	width: 60px;
	bottom: 0;
	margin-left: -30px;
	left: 50%;
}
.section-title p {
	font-size: 18px;
	text-align: center;
}

/* Responsive media query */
/* Bootstrap col-md 768px ~ 991px */
@media only screen and (max-width: 991px) {
	#about .about-text {
		padding-top: 15px;
	  }
}
/* Bootstrap col-sm 576px ~ 767px */
@media only screen and (max-width: 767px) {
	#about .about-text {
	  text-align: center;
	}
	#about .about-text ul {
		text-align: left;
	}
	#about h2::after {
		margin-left: -30px;
		left: 50%;
	}
}
/* Bootstrap col-xs < 576px */
@media only screen and (max-width: 575px) {
	#about .about-text ul {
		text-align: center;
	}
}

/* Responsive media query -END */