:root {
  --after-position: absolute;
  --after-content: "";
  --after-height: 4px;
  --after-width: 60px;
  --after-bottom: 0;
  --hd-position: relative;
  --hd-padding-bottom: 15px;
  --hd-text-transform: uppercase;
  --hd-margin: 10px 20px 15px 0px;
  --hd-font-weight: 800;
  --hd-font-size: 36px;
  --hd-margin-bottom: 70px;
}

/* Center align Header */
.center {
  margin-bottom: var(--hd-margin-bottom);
}
.center h1::after {
  position: var(--after-position);
  content: var(--after-content);
  height: var(--after-height);
  width: var(--after-width);
  bottom: var(--after-bottom);
  margin-left: -30px;
  left: 50%;
}
.center h1 {
  position: var(--hd-position);
  padding-bottom: var(--hd-padding-bottom);
  text-transform: var(--hd-text-transform);
  margin: var(--hd-margin);
  font-weight: var(--hd-font-weight);
  font-size: var(--hd-font-size);
  text-align: center;
}
.center p {
  text-align: center;
  font-size: var(--p-font-size);
}

/* Left align Header */
.left {
  margin-bottom: 20px;
}
.left h1::after {
  position: var(--after-position);
  content: var(--after-content);
  height: var(--after-height);
  width: var(--after-width);
  bottom: var(--after-bottom);
  left: 0;
}
.left h1 {
  position: var(--hd-position);
  padding-bottom: var(--hd-padding-bottom);
  text-transform: var(--hd-text-transform);
  margin: var(--hd-margin);
  font-weight: var(--hd-font-weight);
  font-size: var(--hd-font-size);
  text-align: left;
}
.left p {
  text-align: left;
  font-size: var(--p-font-size);
}

/* Dark Header */
.dark h1 {
  color: var(--color-txt-dark);
}
.dark h1::after {
  background: var(--color-bg-gradient-dark);
}
.dark p {
  color: var(--color-txt-true);
}

/* Light Header */
.light h1 {
  color: var(--color-txt-light);
}
.light h1::after {
  background: var(--color-bg-gradient-light);
}
.light p {
  color: var(--color-txt-light);
}